.cards {
  display: grid;
  grid-template-columns: repeat(1, 282px);
  gap: 20px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 615px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    gap: 20px 17px;
  }
}

@media screen and (min-width: 914px) {
  .cards {
    grid-template-columns: repeat(3, 282px);
  }
}
