.profile__photo-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 26px;
  padding: 0;
}

@media screen and (min-width: 914px) {
  .profile__photo-container {
    margin: 0;
  }
}