.page__content {
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 880px) {
  .page__content {
    padding: 0 calc((100% - 880px)/2);
  }
}
